<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolflix</title>
    <link rel="stylesheet" href="./assets/master.css">
  </head>
  <body>
    <div id="root">

      <header>
        <div class="nav_container">
          <div class="logo_container">
            <img class="logo" src="./assets/img/netflix-logo.png" alt="">
          </div>
          <div class="input_container">
            <input class="search_bar_input" type="text" name="" value=""
            v-model="selectedMovie">
            <button v-on:click="setSelectedMovies()"
            class="search" type="button" name="button">
            search
           </button>
          </div>
        </div>
      </header>

      <main>
        <div class="card_container">
          <div class="flip-card"
            v-for='(movie, i) in selectedMovies'>
            {{ getTitle(movie) }}
            <button @click="setCurrentInfo(i)" type="button" name="button">
              clicca
            </button>
            <div class="flip-card-inner">
              <div class="flip-card-front">
                 <!-- Qui va la cover -->
              </div>
              <div class="flip-card-back">

                <div class="card-container-info">
                  <div class="card-info">
                    <span class="original title">
                    </span>
                    <!-- Da qui le info -->
                    <span class="title">
                      {{ title }}
                    </span>

                    <span class="language">
                       {{ language }}
                      <img :src="flagPath" alt="">
                    </span>

                    <span class="vote">
                      {{ vote }}
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>



      <!-- <h1 class="title"> {{ title }} </h1>
      <p class="language"><b>language:</b> {{ language }}
        <img :src="flagPath" alt="">
      </p>
      <p class="vote"><b>vote:</b> {{ vote }} </p> -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
