<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolflix</title>
    <link rel="stylesheet" href="./assets/master.css">
  </head>
  <body>
    <div id="root">

      <input type="text" name="" value=""
      v-model="selectedMovie">

      <button v-on:click="setSelectedMovies()"
      class="search" type="button" name="button">
      search
     </button>

      <ul>
        <li v-for='(movie, i) in selectedMovies'>
        {{ movie.title }}

        <button @click="currentIndex = i" type="button" name="button">clicca</button>
        </li>
      </ul>

      <h1 class="title"> {{ selectedMovies[currentIndex].title }} </h1>
      <p class="language"><b>language:</b> {{ selectedMovies[currentIndex].original_language }} </p>
      <p class="voto"><b>vote:</b> {{ selectedMovies[currentIndex].vote_average }} </p>





    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
