<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolflix</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/master.css">
  </head>
  <body>
    <div id="root">

      <header>
    <div class="nav_container">
      <div class="nav_container_right">
        <div class="logo_container">
          <img class="logo" src="./assets/img/netflix-logo.png" alt="">
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New & popular</a>
          </li>
        </ul>
      </div>

      <div class="nav_container_left">

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              KIDS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-gift"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="far fa-bell"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New & popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">


            </a>
          </li>
        </ul>

        <div class="input_container">
          <input class="search_bar_input" type="text" name="titles" value="titles"
          placeholder="Titles, People, Genres..."
          v-model="selectedMovie"
          @keyup.enter="setSelectedMovies()">
          <button v-on:click="setSelectedMovies()"
          class="search" type="button" name="button">
          <i class="fas fa-search"></i>
         </button>
        </div>

      </div>
    </div>
  </header>

      <main>
        <div class="card_container">
          <div class="flip-card"
            v-for='(movie, i) in selectedMovies'>

            <div class="flip-card-inner">
              <div class="flip-card-front">

                <img :src="getPosterImagePath(movie)" alt="">

              </div>
              <div class="flip-card-back">

                <div class="card-container-info">
                  <div class="card-info">

                    <span class="title">
                      <p>Title:</p>
                      <b>{{ getTitle(movie) }}</b>
                    </span>

                    <span class="original-titleName">
                      <p>Original title:</p>
                      <b>{{ getOriginalTitle(movie) }}</b>
                    </span>

                    <span class="language">
                      <p>Language:</p>
                      <img class="flag" :src="getFlagImagePath(movie)" alt="">
                    </span>

                    <span class="vote">
                      <p>Vote:</p>
                      <div class="star-rating">
                        <div class="back-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                            <div class="front-stars" v-bind:style="{width: getRate(movie)}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                      </div>
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./assets/main.js" charset="utf-8"></script>
  </body>
</html>
