* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* NAV */

.nav_container {
  width: 100vw;
  height: 10vh;
  background-color: #4e4e51;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

img.logo {
  width: 50px;
  margin: auto;
  position: relative;
  top: 25%;
}

input.search_bar_input {
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

button.search {
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

/* CARD CONTAINER */
.card_container:after {
  content: "";
  flex: auto;
  width: 200px;
}

.card_container{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
  width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style the back side */
.flip-card-back {
  width: 100%;
  border-radius: 10px;
  background-color: #3f3b6b;
  color: white;
  transform: rotateY(180deg);
}

.card-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.vote {
  font-size: 14px;
  font-style: italic;
}

/* STARS */

.star-rating {
  align-items: center;
  font-size: 3em;
  justify-content: center;
  margin-top: 50px;
}

.back-stars {
  display: flex;
    color: #bb5252;
    position: relative;
    text-shadow: 4px 4px 10px #843a3a;
}

.front-stars {
  display: flex;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
    transition: all .5s
}
